:root {
    --primary-color: #004085;
    --secondary-color: #ABEDC7;
    --accent-color: #F5C32E;
    --background-color: #FFFFFF;
    --text-color: #222222;
    --hover-color: #A81F00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Verdana', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}    

/* Header */
header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1 {
    color: var(--primary-color);
    font-size: 2rem;    
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

h2 {
    color: white;;
}
h3 {
    color: #12542B;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 15%;
    height: auto;
    margin-right: 10px;
}

aside h3 {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 15%;
    height: auto;
    margin-right: 10px;
}


/* Navigation */
#menu {
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    color: white;
}

.navigation a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.navigation a:hover {
    background-color: #FF6F00;
    border-radius: 5px;
    text-decoration: underline;
}

.open a {
    display: block;
}

ul {
    list-style-type: none;
}

h2 {
    font-family: 'Georgia', serif;
}

.active::before {
	content: "🧠 ";  
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Corrected grid layout */
    gap: 20px;
    margin: 0 auto;
}    

.why-soft-skills {
    grid-column: span 2; /* Make it span both columns if needed */
}

aside {
    background-color: var(--primary-color);
    padding: 0.5rem;

}



.intro {
    position: relative;
    text-align: center;
    color: rgb(234, 200, 52);
    padding: 50px 20px;
}

.hero-img {
    position: absolute;
    width:90%;
    justify-content: center;
    height: 120%;
    top: 0;
    left: 50px;
    z-index: -1; 
    padding-bottom: 20px;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-text {
    position: absolute; /* Position the text container absolutely within the parent (hero) */
    top: 105%; /* Position the text container vertically in the middle */
    left: 50%; /* Position the text container horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the button accurately */
    z-index: 1;
}
.cta-button {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.intro h2, .intro p {
    position: relative; 
    z-index: 1; 
    color:black;
    font-weight: bold;
    
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%); /* Centers the text vertically and horizontally */
    background-color: rgba(171, 237, 199, 0.4); /* Semi-transparent background */
    color: white; /* Text color */
    text-align: center; 
    padding: 20px; /* Padding around the text */
    font-size: 1.5rem; 
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    width: 80%;
}

main {
    padding: 20px;

}
.categories {
    background: var(--primary-color);
    padding: 20px;
    color: white;
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills-grid {
    gap: 20px;
    max-width: 600px;
    grid-template-columns: repeat(3, 1fr);
}
.info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 3 equal-width columns */
    gap: 20px;  /* Space between columns */
    margin-top: 20px;
}

article {
    background: white;
    padding: 20px;
    border-radius: 8px;border: 2px solid #FF6F00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
article a {
    display: block;
    color: var(--hover-color);
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.spotlights {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}

.spotlight-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.spotlight-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.spotlight-card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.spotlight-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.spotlight-card p {
    color: #333;
}


.site-info {
    grid-column: span 3;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two equal columns */
    gap: 20px;
    padding: 30px;
  }

form {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #330D59;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    color: #fff;
}
  
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}
  
input:focus, select:focus, textarea:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.4);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.cardsk-container .cardsk {
    display: inline-block;
    width: 22%;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
  /* Submit Button */
button[type="submit"] {
    padding: 12px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}
  
button[type="submit"]:hover {
    background-color: #004080;
    transition: background-color 0.3s ease;
}
  
  /* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 500px;
    width: 90%;
}
  
.modal.open {
    display: flex;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.skill-cards {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cardsk {
  background-color: #f4f4f4;
  border: #330D59;
  padding: 20px;
  border-radius: 8px;
  height:auto;
  width: 90%;
  border-radius: 8px;border: 2px solid #F5C32E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.cardsk h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardsk a {
  text-decoration: none;
  color: #004A99;
}

.cardsk:hover {
  background-color: #e0e0e0;
}

.thank-you-info {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
}

.thank-you-info p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
}

.thank-you-info p span {
    font-weight: bold;
    color: #004d6b;
}

.thank-you-info .back-to-home {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.thank-you-info .back-to-home a {
    text-decoration: none;
    color: #004d6b;
}

.thank-you-info .back-to-home a:hover {
    text-decoration: underline;
}
.thank-you-info .back-to-home a:visited {
    color: #004d6b;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.social-links{
    display: flex;
    gap: 10px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    justify-content: center;
}

.social-links img {
    width: 25px;
    height: 25px;
}

footer nav a {
    color: #fff; 
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

#lastModified {
    font-size: 1rem;
    color: #FAF2D1;
    font-weight: bold;
}

/* Responsive Styles */
@media (min-width: 740px) {
    header {
        padding: 15px 30px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation li {
        display: inline-block;
        margin-left: 20px;
    }

    .navigation a {
        display: inline-block;
        padding: 10px;
    }
}

@media (max-width: 740px) {
    main {
        grid-template-columns: 1fr;
    }
    .categories, .skills-grid, .site-info {
        display: block; /* Stack elements vertically */
        width: 100%; /* Full width */
        margin: 0 auto; /* Center elements */
    }

    .skills-grid {
        display: flex;
        flex-direction: column; /* Ensures articles stack in one column */
        gap: 15px;
    }

    .skills-grid article, .site-info article {
        width: 100%; /* Full width for better readability */
    }
    .spotlight-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spotlight-cards > div {
        width: 100%; /* Makes all cards take full width */
        max-width: 350px; /* Prevents cards from being too wide */
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-container,
    .spotlight-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-container > div,
    .spotlight-cards > div {
        width: 100%; /* Makes all cards take full width */
        max-width: 350px; /* Prevents cards from being too wide */
    }
    form {
        padding: 15px;
      }
      
      .form-group {
        margin-bottom: 15px;
      }
    
      .card-container {
        display: block;
      }

}

@media (min-width: 741px) and (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1025px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}




