:root {
    --primary-color: #004085;
    --secondary-color: #ABEDC7;
    --accent-color: #F5C32E;
    --background-color: #FFFFFF;
    --text-color: #222222;
    --hover-color: #A81F00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Verdana', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}    

/* Header */
header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    color: var(--primary-color);
    font-size: 2rem;    
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

h2 {
    color: white;;
}
h3 {
    color: #12542B;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 15%;
    height: auto;
    margin-right: 10px;
}

aside h3 {
    color: white;
}
/* Navigation */
#menu {
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    color: white;
}

.navigation a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.navigation a:hover {
    background-color: #FF6F00;
    border-radius: 5px;
    text-decoration: underline;
}

.open a {
    display: block;
}

ul {
    list-style-type: none;
}

h2 {
    font-family: 'Georgia', serif;
}

.active::before {
	content: "🧠 ";  
}

aside {
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.intro {
    position: relative;
    text-align: center;
    color: rgb(234, 200, 52);
    padding: 50px 20px;
}

.hero-img {
    position: absolute;
    width:90%;
    justify-content: center;
    height: 120%;
    top: 0;
    left: 50px;
    z-index: -1; 
    padding-bottom: 20px;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro h2, .intro p {
    position: relative; 
    z-index: 1; 
    color:black;
    font-weight: bold;
    
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%); /* Centers the text vertically and horizontally */
    background-color: rgba(171, 237, 199, 0.4); /* Semi-transparent background */
    color: white; /* Text color */
    text-align: center; 
    padding: 20px; /* Padding around the text */
    font-size: 1.5rem; 
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    width: 80%;
}

#allskills div img:hover {
    transform: scale(1.05);
}



.card button:hover {
    background: #0056b3;
}

#allskills div {
    margin: 1rem 8px;
    background: white;
    padding: 20px;
    border-radius: 8px;border: 2px solid #F5C32E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "title"
    "description"
    "image"
    "importance"
    "button";

}

#allskills div h3 {
    font-size: 1.5em;
    margin: 1rem 16px;
    grid-area: title;
}

#allskills div img {
    width: 100%;
    grid-area: image;
}


#allskills div p {
    margin: 1rem 10px;
    grid-area: description;
    
}

#allskills div importance {
    font-style: italic;
    grid-area: importance;
}

#allskills div button {
    grid-area: button;
    background: #0056b3;
    width: 90%;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px auto;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s;
    
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.social-links{
    display: flex;
    gap: 10px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    justify-content: center;
}

.social-links img {
    width: 25px;
    height: 25px;
}

footer nav a {
    color: #fff; 
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

#lastModified {
    font-size: 1rem;
    color: #FAF2D1;
    font-weight: bold;
}

@media only screen and (min-width: 38rem) {
    header {
        padding: 15px 30px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation li {
        display: inline-block;
        margin-left: 20px;
    }

    .navigation a {
        display: inline-block;
        padding: 10px;
    }

    #allskills div {
        
        grid-template-areas: 
        "title ."
        "image description"
        "image importance"
        "button button";
        grid-template-columns: auto 1fr;
    }

    #allskills div img {
        width: 300px;
        
    }
    #allskills div button {
        justify-self: center;
    }
}
@media only screen and (min-width: 64rem) {
    #allskills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
     }
     
}